# Virtual Environment
layenv/
.venv/
venv/
ENV/
env/

# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables & Secrets (CRITICAL for FastAPI)
.env
.env.*

# Streamlit Local Config
.streamlit/config.toml

# IDE & OS Files
.vscode/
.idea/
.DS_Store